// Definición de variables
$primary-font: "Lexend Deca", Times, serif;
$background-color: #ADD8E6; // Celeste
$header-bg-color: #02104b;
$navbar-bg-color: #000080; // Azul marino
$text-color: #3f8ef5;
$hover-text-color: $navbar-bg-color;
$hover-bg-color: #fff;
$border-color: whitesmoke;
$video-border-color: #E9A051;
$footer-bg-color: #f1f1f1;